@import "compass/reset";
@import "color";
body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background-color: $black;
  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80vh;
    max-height: 80vh;
    position: relative;
    canvas {
      transform: translateX(-2em);
      position: relative;
      margin: 2em;
      display: flex;
      background-color: #fff;
      padding: 2em;
      border-radius: 1em;
    }
  }
}