#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $gray;
  min-height: 100vh;
  width: 200vw;
  display: flex;
  position: relative;
  flex-direction: row;
}

body {
    background-color: $white;
    overflow-x: hidden;
}