@import "compass/reset";
@import "color";
body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background-color: $black;
  input {
    margin: .5em auto;
    background: none;
    border: 1px solid #fff;
    border-radius: 1em;
    font-size: 2em;
    outline: none;
    padding: .5em;
    display: flex;
    color: #fff;
  }
  #bar {
    display: flex;
    height: .25em;
    width: 100%;
    background-color: rgba(#fff, .5);
    margin: 0 auto;
    border-radius: .25em;
    align-content: center;
    .point {
      display: block;
      background-color: #F8625C;
      height: 1em;
      width: 1em;
      border-radius: 50%;
      transform: translate(0,-.35em);
      position: absolute;
    }
  }
  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-height: 120vh;
    position: relative;
    canvas {
      pointer-events: none;
      transform: translateX(-4em);
      position: relative;
      margin: 2em;
      display: flex;
      background-color: #fff;
      padding: 2em;
      border-radius: 1em;
    }
  }
}