//color-config
//pure
$white: rgba(255, 255, 255, 1);
$black: rgb(13, 14, 15);
$light-gray: rgba($white, 70%);
$gray: rgb(28, 28, 28);
$blue: rgba(0, 82, 112, 1);
$dark-blue: rgb(0, 54, 74);
$green: rgba(14, 163, 163, 1);
$dark-green: rgba(67, 116, 20, 1);
$yellow: rgb(255, 213, 72);
$dark-yellow: rgb(221, 174, 16);
$orange: rgba(221, 141, 71, 1);
$pink: rgb(239, 71, 111);
$red: rgb(244, 62, 62);
//alpha
$gray-alpha: rgba(29, 29, 29, .5);
$orange-alpha: rgba(221, 141, 71, .75);