#footer {
    @include flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    >* {
        margin: .5em 0;
        font-weight: 200;
    }
    ul {
        @include flex;
        justify-content: space-around;
        flex-direction: row;
        li {
            display: inline-flex;
        }
    }
    .icons {
        li {
            transition: all .3s;
            padding: .5em;
            font-size: 1em;
            width: 1em;
            border-radius: 1em;
            justify-content: center;
            box-shadow: inset 0 0 0 1px $black;
            &:hover {
                transition: all .3s;
                background-color: $black;
                color: $white;
            }
        }
    }
    .label {
        display: none;
    }
    .copyright {
        li {
            font-size: $footnote !important;
            @media screen and (max-width: 768px) {
                font-size: $footnote * .7 !important;
            }
        }
    }
}