#intro {
    box-shadow: 0 0 5px 2px rgba($black, .4);
    transition: all .5s;
    top: 0;
    display: flex;
    background-color: $white;
    position: fixed;
    z-index: 10000;
    height: 100vh;
    width: 30%;
    transform: translateX(-30%);
    opacity: 0;
    &.more {
        transition: all .5s;
        transform: translateX(0);
        opacity: 1;
        @media screen and (max-width: 1366px) {
            position: absolute;
            width: 100vw;
            .container {
                margin: auto;
            }
        }
    }
    .container {
        padding: 2em 1em;
        header {
            flex-direction: column;
            padding: auto;
            @include flex;
            .image {
                margin: .5em auto;
                width: 7em;
                height: 7em;
                border-radius: 7em;
            }
            .content {
                margin: .5em;
                justify-content: center;
                p {
                    text-align: center !important;
                    letter-spacing: 0;
                    text-indent: 0;
                }
            }
        }
        .content {
            margin: .5em;
            justify-content: center;
            p {
                text-align: center !important;
                letter-spacing: 0;
                text-indent: 0;
            }
            ul {
                @include flex;
                flex-direction: column;
                padding: .5em 5em;
                li {
                    border-bottom: 1px solid $black;
                    padding: .5em;
                    margin: .5em 0;
                    font-weight: 200;
                    justify-content: space-between;
                    flex-direction: row;
                    display: inline-flex;
                    @media screen and (max-width: 768px) {
                        p {
                            font-size: .5em !important;
                        }
                    }
                }
            }
        }
    }
}