.skill {
    @include flex;
    justify-content: space-around;
    flex-wrap: wrap;
    #block {
        display: inline-block;
        width: 25%;
        height: auto;
        text-align: center;
        padding: 1em;
        h3 {
            text-align: center;
            justify-content: center;
            font-size: 1em;
        }
        .level {
            display: block;
            width: 4.5em;
            height: 4.5em;
            border: .25em;
            border-radius: 100%;
            margin: auto;
            border-style: solid;
            border-color: #777;
            transform: rotate(45deg);
            padding: 1em;
            @media screen and (max-width: 768px) {
                width: 3em;
                height: 3em;
                padding: .5em;
            }
        }
        .level.level-1 {
            border-top-color: $red;
        }
        .level.level-2 {
            border-top-color: #ffcb55;
            border-right-color: #ffcb55;
        }
        .level.level-3 {
            border-top-color: #0089ff;
            border-right-color: #0089ff;
            border-bottom-color: #0089ff;
        }
        .level.level-4 {
            border-color: #47dca8;
        }
    }
}