#slide {
    z-index: 1000;
    position: relative;
    height: auto;
    @include flex;
    width: 70%;
    margin: 0;
    margin-left: auto;
    opacity: 0;
    transform: translateY(200vh);
    transition: all .5s;
    flex-direction: column;
    .spotlight {
        border-radius: 3px;
        box-shadow: 0 0 5px rgba($black, .4);
        background-color: hsla(0, 0, 100%, .8);
        margin: 2em;
        padding: 1em;
        @media screen and (max-width: 768px) {
            margin: .5em;
            padding: .5em;
        }
        >* {
            padding: .5em;
        }
        .title {
            margin: .5em 0;
        }
        .subtitle {
            margin: .25em 0;
        }
        &.ex {
            .container {
                >* {
                    text-align: center !important;
                    justify-content: center !important;
                }
            }
        }
    }
    &.more {
        transition: all .5s;
        opacity: 1;
        transform: translateY(-100vh);
        @media screen and (max-width: 1366px) {
            width: 100vw;
            transform: translateY(0);
        }
    }
}