#welcome {
    transition: all .3s;
    color: $white;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
    background: hsla(0, 0, 0%, .2);
    .container {
        height: calc(100vh - 4em);
        width: calc(100vw - 4em);
        @include flex;
        padding: 2em;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 320px) {
            justify-content: center;
            align-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
        .content {
            @include flex;
            flex-direction: row;
            width: 50%;
            height: 50%;
            justify-content: center;
            @media screen and (max-width: 1200px) {
                width: 80%;
            }
            @media screen and (max-width: 768px) {
                height: 100%;
                width: 100%;
                flex-direction: column;
            }
            @media screen and (max-width: 640px) {
                justify-content: center;
            }
            @media screen and (max-width: 320px) {
                justify-content: center;
                align-content: center;
                align-items: center;
                width: 100%;
            }
            .image {
                box-shadow: inset 0 0 0 1px $white;
                @include logoConfig;
                position: relative;
                @media screen and (max-width: 768px) {
                    height: 12em;
                    width: 12em;
                    margin: 0 auto;
                }
                @media screen and (max-width: 320px) {
                    margin: 0;
                }
            }
            header {
                min-width: 15em;
                height: 20em;
                border-left: 1px solid $white;
                margin: auto .5em;
                padding: 0 1em;
                @include flex;
                position: relative;
                max-width: calc(100% - 24em);
                flex-direction: column;
                @media screen and (max-width: 1366px) {
                    min-width: auto;
                }
                @media screen and (max-width: 768px) {
                    height: auto;
                    margin: 2em auto;
                    border: none;
                    * {
                        text-align: center !important;
                        justify-content: center;
                    }
                }
                @media screen and (max-width: 640px) {
                    min-width: 60vw;
                }
                @media screen and (max-width: 320px) {
                    margin: 0;
                }
                >* {
                    margin: .5em 0;
                    text-align: left;
                    width: 100%;
                }
                 :nth-child(1) {
                    margin-top: 0;
                }
                .button {
                    margin: 0;
                    margin-top: auto;
                    transform: translateX(calc(-1em - 1px));
                }
            }
        }
    }
    &.more {
        transition: all .3s;
        transform: translateY(-100%);
    }
}